body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(84, 190, 150, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin-top: 0; /* Зняти зовнішній відступ зверху */
  margin-bottom: 0; /* Зняти зовнішній відступ знизу */
  text-decoration: none;
}
h1 {
  font-size: clamp(14px, 5vw, 20px);
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #007bff;
}

ul,
ol,
li {
  margin-top: 0;
  padding-left: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
  background-color: #54be96;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background-color: #36a379;
}
